/* Цвета
#212121 - заголовки
#757575 - основной текст
#FFFFFF - белый
rgba(255, 255, 255, 0.6) - белый 60% футер
#2196F3 - голубой
F5F4FA - background team-section
2F303A - background hero, footer
E5E5E5 - основной background
*/

/* Шрифты
Roboto weight 400, 500, 700, 900
Raleway weight 700
*/
html {
    box-sizing: border-box;
}

*, *::before, *::after {
    box-sizing: inherit;
}

:root {
    --primary-text-color: #757575;
    --title-text-color: #212121;
    --accent-color: #2196F3;
    --primary-background-color:#FFFFFF;
    --secondary-background-color:#2F303A;
    --third-background-color:#F5F4FA;
    --icon-cl:#AFB1B8;
    --icon-footer-cl:#44454E;
}



body {
    background-color: var(--primary-background-color);
    color: var(--primary-text-color);
    font-family: 'Roboto', sans-serif;
    font-size: 14px;
    line-height: 1.72;
    letter-spacing: 0.03em;
}

/* Утилиты */

.container {
    width: 1200px;
    padding-left: 15px;
    padding-right: 15px;
    margin-left: auto;
    margin-right: auto;
}

.flex {
    display: flex;
    align-items: center;
}
.visually-hidden {
    position: absolute;
    white-space: nowrap;
    width: 1px;
    height: 1px;
    overflow: hidden;
    border: 0;
    padding: 0;
    clip: rect(0 0 0 0);
    clip-path: inset(50%);
    margin: -1px;
}

.list {
    padding: 0;
    margin: 0;
    list-style: none;
}

.image {
    display: block;
    max-width: 100%;
    height: auto;
}

/*
---------------------------------------
header
----------------------------------------
*/
.page-header {
    padding-top: 25px;
    padding-bottom: 25px;

    background-color: var(--white-color);
}


/* Logo */
.logo {
    margin-right: 93px;

    font-family: 'Raleway';
    font-weight: 700;
    font-size: 26px;
    line-height: 1.19;
    letter-spacing: 0.03em;
    text-decoration: none;
}

.logo-web {
    color: var(--accent-color);
    }

.logo-studio {
    color: #000000;
}
/* site-nav */
.site-nav {
    display: flex;
    align-items: center;
}

/* site-menu */

.site-menu {
    display: flex;
}

.site-menu .item+.item {
    margin-left: 50px;
}

.site-menu .link {
    display: block;

    color: var(--title-text-color);
    text-decoration: none;
    letter-spacing: 0.02em;
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
}
.site-menu .link:hover,
.site-menu .link:focus {
    color: var(--accent-color);
}
.site-menu .link.current {
    color: var(--accent-color);
}
/* contact links */
.site-links {
    display: flex;
    align-items: center;
    margin-left: auto;
}

.site-links .item:not(:last-child) {
    margin-right: 30px;
}

.contact-link {
    display: flex;
    align-items: center;

    color: var(--primary-text-color);
    text-decoration: none;
    letter-spacing: 0.02em;
    font-weight: 500;
    fill: var(--primary-text-color);
}

.contact-link:hover {
    color: var(--accent-color);
    fill: var(--accent-color);
}

.icon-envelope, .icon-phone {
    margin-right: 10px;
}

/*
---------------------------------------
section hero
----------------------------------------
*/
.hero {
    padding: 200px 0px 200px 0px;
    text-align: center;
}
/* overlay */
.overlay {
    height: 600px;
    max-width: 1600px;
    margin-left: auto;
    margin-right: auto;

    background-image: linear-gradient(to right, 
    rgba(47, 48, 58, 0.4), 
    rgba(47, 48, 58,0.4)), url("../images/header-bg.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center; 
}

.hero-title {
    margin-top: 0;
    margin-bottom: 30px;
    padding: 0;

    color: var(--primary-background-color);
    font-weight: 900;
    font-size: 44px;
    line-height: 1.36;
    letter-spacing: 0.06em;
    text-transform: uppercase;
}

/* Button */
.btn {
    border: 0;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    border-radius: 4px;
    padding: 10px 32px;
    min-width: 200px;
    
    background-color: var(--accent-color);
    color: var(--primary-background-color);
    font-family: inherit;
    font-weight: 700;
    font-size: 16px;
    line-height: 1.87;
    align-items: center;
    text-align: center;
    letter-spacing: 0.06em;
    cursor: pointer;
}

/* section */
.section {
    padding: 94px 0px 94px 0px;
}
    
.section-title {
    margin: 0px 0px 50px 0px;
    color: var(--title-text-color);
    font-weight: 700;
    font-size: 36px;
    line-height: 1.17;
    text-align: center;
        }
        
/*
---------------------------------------
section features
----------------------------------------
*/
.feature .title {
    margin: 0;
}

.features-list {
    display: flex;
    flex-wrap: wrap;
}

.features-list .item {
    margin-right: 30px;
    margin-bottom: 0;
    width: calc((100% - 90px) / 4);
}

.features-list .item:nth-child(4n) {
    margin-right: 0;
}

/* feature icons */

.feature-bg {
    display: flex;
    align-items: center;
    justify-content: center;

    height: 120px;
    margin-bottom: 30px;
    background-color: var(--third-background-color);
}

.features-list .title {
color: var(--title-text-color);
font-weight: 700;
line-height: 1.14;
text-transform: uppercase;
}

.features-list .title {
     text-transform: uppercase;   
    }
.features-list p {
    margin-top: 14px;
    margin-bottom: 0;
    }

/*
---------------------------------------
section work
----------------------------------------
*/
.section.work {
    padding-top: 0px;
}
.work-list.list {
    display: flex;
    flex-wrap: wrap;
}

.work-list .item{
    margin-right: 30px;
    margin-bottom: 0;
    width: calc((100% - 60px) / 3);
}

.work-list .item:nth-child(3n) {
    margin-right: 0;
}

/*
---------------------------------------
section team
----------------------------------------
*/
.section.team {
 background-color: var(--third-background-color);
}

.team .section-title {
    padding-top: 0px;
}

.team-list.list {
    display: flex;
    flex-wrap: wrap;
}
.team .item {
    margin-right: 30px;
    width: calc((100% - 90px) / 4);
}

.team .item:nth-child(4n) {
    margin-right: 0;
}

.team-bg {
    padding: 30px 0px 30px 0px;
    background-color: var(--primary-background-color);
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12),
    0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 0px 0px 4px 4px;
}

.team-list .title {
color: var(--title-text-color);
font-weight: 700;
line-height: 1.14;
text-align: center;
margin: 0;
margin-bottom: 10px;
}

.team-list .text {
    padding: 0;
    margin: 0;
    margin-bottom: 16px;

    font-size: 16px;
    text-align: center;
}

/* social icons svg */ 
.inner-list {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0;
    margin: 0;
}

.button {
    display: flex;
    align-items: center;
    justify-content: center;

    border: none;
    color: var(--icon-cl);
    background-color: var(--primary-background-color);
    border-radius: 50%;
    width: 44px;
    height: 44px;
}

.button:hover,
.button:focus {
    color: var(--primary-background-color);
    background-color: var(--accent-color);
}

.button-icon {
    fill: currentColor;
}

.inner-item + .inner-item {
    margin-left: 10px;
}

/*
---------------------------------------
section clients
----------------------------------------
*/

.clients .section-title {
    margin-bottom: 50px;
}

.clients .list {
    display: flex;
}

/*clients logo svg*/
.client-logo {
    display: block;
    border: 1px solid var(--icon-cl);
    border-radius: 4px;
    padding: 16px 32px;
    width: 170px;
    height: 92px;
    fill: var(--icon-cl);
}

.client-logo:hover,
.client-logo:focus {
    border: 1px solid var(--accent-color);
    fill: var(--accent-color);
}

.clients .item+.item {
    margin-left: 30px;
}

/*
---------------------------------------
footer
----------------------------------------
*/
.footer {
    padding: 60px 0px 60px 0px;
    background-color: var(--secondary-background-color);
}

.footer >.container {
    display: flex;
    align-items: baseline;
}

.footer .contact {
    display: block;
    margin-right: 60px;
}

.footer .logo-studio{
    color: var(--primary-background-color);
}

.address .text {
    margin: 0;
    margin-bottom: 10px;

    color: var(--primary-background-color);
    font-style: normal;
}

.footer .logo {
    margin: 0;
    margin-bottom: 20px;
    display: block;
}

.footer-link {
    color: rgba(255, 255, 255, 0.6);
    font-style: normal;
    text-decoration:none;
}

.footer .item:not(:last-child) {
    margin-bottom: 10px;
     }

.footer-link:hover, .footer-link:focus {
    color: var(--primary-background-color);
} 

/* Footer social links */
.social-links .text {
    padding: 0;
    margin: 0;
    margin-bottom: 20px;
    
    color: var(--primary-background-color);
    font-weight: 700;
    line-height: 1.14;
    text-transform: uppercase;
}

/* social icons svg */
.footer .button {
    color: var(--primary-background-color);
    background-color: var(--icon-footer-cl);
}

.footer .button:hover,
.footer .button:focus {;
    color: var(--primary-background-color);
    background-color: var(--accent-color);
}


/* PAGE PORTFOLIO */

/* filter */
.filter {
    display: flex;
    margin-bottom: 34px;
    justify-content: center;
}

.filter .item + .item {
    margin-left: 8px;
} 
.portfolio-button {
    padding: 6px 22px;

    background-color: var(--third-background-color);
    color: var(--title-text-color);
    font-family: inherit;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.62;
    text-align: center;
    border-radius: 4px;
    border: none;
}

.portfolio-button:hover,
.portfolio-button:focus {
    font-family: inherit;
    background-color: var(--accent-color);
    color: var(--primary-background-color);

    box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1),
    0px 1px 2px rgba(0, 0, 0, 0.08),
    0px 2px 2px rgba(0, 0, 0, 0.12);
}

.portfolio-button.current {
    color: var(--primary-background-color);
    background-color: var(--accent-color);
}

/* gallery */
.portfolio-list {
    display: flex;
    flex-wrap: wrap;
}

/* calc (100% - количество маржинов в строке * значение маржина)/количество элементов в строке */
.portfolio-list.list .item {
    margin-right: 30px;
    margin-bottom: 30px;
    width: calc((100% - 60px) / 3);
}

.portfolio-list .item:nth-last-child(-n+3) {
    margin-bottom: 0;
}

.portfolio-list .item:nth-child(3n) {
    margin-right: 0;
}

.portfolio-list .link{
    display: block;
}

.portfolio-list .link:hover,
.portfolio-list .link:focus {
    box-sizing: border-box;
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12),
    0px 4px 4px rgba(0, 0, 0, 0.06),
    1px 4px 6px rgba(0, 0, 0, 0.16);
}

.card {
    border: 1px solid rgba(0, 0, 0, 0.1);
    border-top: none;
    padding: 20px 24px;
}
.portfolio-title {
    margin: 0;
    margin-bottom: 4px;

    color: var(--title-text-color);
    font-weight: 700;
    font-size: 18px;
    line-height: 2;
    letter-spacing: 0.06em;
}

.portfolio-list .category {
    margin: 0;
    
    color: var(--primary-text-color);
    font-size: 16px;
    line-height: 1.88;
}

.portfolio .link {
    text-decoration: none;
}





